.rank-box {
  background: #fff;
  padding: 15px;
  margin: 20px auto;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 16px;
}

.rank-player {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 10px;
}

.rank-tier {
  font-size: 20px;
  font-weight: bold;
  margin: 8px 0;
}
